@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Noto+Serif+TC:wght@600&family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
  &::before,
  &::after {
    box-sizing: border-box;
    outline: 0;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  &.opened {
    overflow: hidden;
  }
}

.serif {
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
}

main {
  flex: 1 0 0;
}

a, button {
  font-weight: inherit;
  line-height: 1.5;
  text-decoration: none;
  @include media-breakpoint-up(md) {
    transition: color 0.3s, background 0.3s, border-color 0.3s;
  }
}

img {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.sr-only {
  position: absolute !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
}
