.slick-gallery {
  .col-img {
    position: relative;
    width: 625px;
    padding-bottom: 5px;
    margin-right: -90px;
    margin-bottom: 30px;
    border-radius: 10px;
    z-index: 1;
  }
  .ratio {
    border-radius: 10px;
    box-shadow: 5px 5px 0 $primary-variant;
  }
  .col-text {
    width: 625px;
    padding-right: 5px;
    padding-bottom: 5px;
    h3 {
      padding: 30px 48px 98px 128px;
      font-size: 1.125rem;
      border-radius: 10px;
      border: 1px solid $primary-variant;
      box-shadow: 5px 5px 0 $primary-variant;
    }
  }
}
