.sticker-group {
  gap: 18px;
  @include media-breakpoint-up(lg) {
    gap: 36px;
  }
}

.sticker-item {
  width: calc( (100% - 18px) / 2 );
  border: 1px solid $gray-100;
  @include media-breakpoint-up(sm) {
    width: calc( (100% - 36px) / 3 );
  }
  @include media-breakpoint-up(md) {
    width: calc( (100% - 54px) / 4 );
  }
  @include media-breakpoint-up(lg) {
    width: 250px;
  }
  img {
    object-fit: contain;
  }
  &:hover {
    border-color: $primary;
  }
}
