$hamburger: (
  width1: 20px,
  width2: 16px,
  unit:  2px,
  gap:   3px
);

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &.opened {
    display: block;
  }
  &::after {
    @include beforeafter('', block);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  span {
    display: block;
    height: map-get($hamburger, unit);
    background-color: $black;
    border-radius: map-get($hamburger, unit);
    &:nth-child(even) {
      width: map-get($hamburger, width2);
    }
    &:nth-child(odd) {
      width: map-get($hamburger, width1);
    }
    + span {
      margin-top: map-get($hamburger, gap);
    }
    @at-root {
      .opened#{&} {
        margin-top: 0;
        height: 2px;
        &:first-child {
          transform: rotate(45deg) translate(7px, 7px);
        }
        &:last-child {
          transform: rotate(-45deg) translate(-5.5px, 5.5px);
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
