$hamburger: (
  width: 20px,
  unit:  3px,
  gap:   4px
);

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: map-get($hamburger, width);
  height: map-get($hamburger, width);
  padding: 0;
  align-self: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &.opened {
    display: block;
  }
  &::after {
    @include beforeafter('', block);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  span {
    display: block;
    width: map-get($hamburger, width);
    height: map-get($hamburger, unit);
    background-color: $gray-500;
    + span {
      margin-top: map-get($hamburger, gap);
    }
    @at-root {
      .active#{&},
      :hover#{&} {
        background-color: $black;
      }
      .opened#{&} {
        margin-top: 0;
        height: 2px;
        &:first-child {
          transform: rotate(45deg) translate(7px, 7px);
        }
        &:last-child {
          transform: rotate(-45deg) translate(-5.5px, 5.5px);
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
