$hamburger: (
  width1: 20px,
  width2: 16px,
  unit:  2px,
  gap:   3px
);

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: map-get($hamburger, width1) + 6px;
  height: map-get($hamburger, unit)*4 + map-get($hamburger, gap)*3 + 10px;
  padding: 5px 3px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &.opened {
    display: block;
  }
  &::after {
    @include beforeafter('', block);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  span {
    display: block;
    height: map-get($hamburger, unit);
    background-color: $black;
    border-radius: map-get($hamburger, unit);
    transform-origin: left;
    transition: all .3s ease-out;
    &:nth-child(even) {
      width: map-get($hamburger, width2);
    }
    &:nth-child(odd) {
      width: map-get($hamburger, width1);
    }
    + span {
      margin-top: map-get($hamburger, gap);
    }
    @at-root {
      .opened#{&} {
        display: none;
        margin-top: 0;
        height: 2px;
        &:nth-child(1) {
          display: block;
          transform: rotate(45deg) translate(4px, 0);
        }
        &:nth-child(3) {
          display: block;
          transform: rotate(-45deg) translate(-9px, 12px);
        }
      }
    }
  }
}
