.avatar-group {
  gap: 18px;
  @include media-breakpoint-up(md) {
    gap: 36px;
  }
}

.avatar-item {
  position: relative;
  width: 140px;
  text-align: center;
  @include media-breakpoint-up(md) {
    width: 180px;
  }
  .ratio {
    border-radius: 50%;
    box-shadow: 5px 5px 0 $primary-variant;
    img {
      @at-root :hover#{&} {
        width: 110%;
        height: 110%;
      }
    }
  }
  .avatar-title {
    font-size: 1.125rem;
    transition: color 0.3s;
  }
  &:hover {
    color: $primary;
  }
}
